@use "../../styles/mixins/glassmorphism";

.home {
  transition: all;
  transition-duration: 1000ms;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__search {
    transition: all;
    transition-duration: 1000ms;
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &-full {
      height: 100vh;
      background-color: rgba(17, 25, 40, 1);
      padding: 0 5vw;
    }

    &-bar {
      height: 8vh;
      padding: 0 20vw;
    }
  }

  &__info {
    display: flex;
    flex: 1 1 auto;
    min-height: 40vh;
    justify-content: center;
    padding: 0 50px;
    align-items: center;

    div:nth-child(2) {
      flex: 1.4;
    }
  }

  &__forecast {
    transition: all;
    transition-duration: 1000ms;
    display: flex;
    height: 25vh;
    padding: 0 30px;
    text-align: center;

    &-hide {
      height: 0px;
    }

    &__togglebtn {
      position: relative;
      left: 2rem;
      top: calc(-0.5rem + 1px);
      padding: 10px 1.5rem;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      cursor: pointer;
    }

    > div:nth-last-child(1) > div {
      border: unset;
    }

    &__section {
      display: flex;
      flex-direction: column;
      flex: 1;

      &__content {
        border-right: 1px solid rgba(80, 87, 128, 0.5);
        margin-bottom: 20px;
        height: 100%;
      }
    }
  }
}

.card {
  margin: 30px 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 40vh;
  border-radius: 12px;
  padding: 60px 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.glassmorphism {
  @include glassmorphism.glassmorphism;
}
